<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="In this website you will be able to find all the information about myself, the projects I have done and how You can contact me.">
    <meta property="og:description" content="In this website you will be able to find all the information about myself, the projects I have done and how You can contact me.">
    <meta property="og:title" content="Felix Doura || Full Stack Developer">
    <meta property="og:type" content="website">

    <title>Felix Doura || Full Stack Developer</title>

</head>