<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="In this website you will be able to find all the information about myself, the projects I have done and how You can contact me.">
    <meta property="og:description" content="In this website you will be able to find all the information about myself, the projects I have done and how You can contact me.">
    <meta property="og:title" content="Felix Doura || Full Stack Developer">
    <meta property="og:type" content="website">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Fuente Roboto Slab regular 400 y Rubik Distressed 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Distressed&display=swap" rel="stylesheet">

    <!-- Link al archivo CSS -->
    <link href="/css/styleIndex.css" rel="stylesheet">

    <title><%= title %> </title>

</head>