<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include ("./partials/head", {title: "Main"}) %> 

<body>
    
    <section id="main">
        <h2>Main</h2>
    </section>


    <section id="about-me">
        <h2>About Me</h2>
    </section>


    <section id="portfolio">
        <h3>Portfolio</h3>
    </section>


    <section id="contact">
        <h3>Contact</h3>
    </section>


    <!-- Icon Script -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>

</html>