@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #bbbbbb;
}

body {
    font-family: "Roboto", sans-serif;
    background: white;
    color: black;
    max-width: 100%;
}

section {
    padding: 90px 0;
    text-align: center;
    background: white;
}

.container {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

.navigation{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    position: fixed;
    height: 70px;
    z-index: 3;
}

#desktop-menu{
    display: none;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 25px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: green;
  font-weight: bold;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -200px;
  padding: 50px;
  padding-top: 125px;
  
  background: lightgray;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.home-background {
    background-color: peachpuff;
    background-image: url(../images/background-image.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.home-profile {
    height: 160px;
    border-radius: 50%;
    margin-top: 40px;
    transition: filter 3s;
}

.home-title {
    font-size: 60px;
    text-shadow: 1px 1px black;
    color: green;
}

.home-title-secondary {
    font-size: 45px;
    color: #f5f5f5;
    text-shadow: 1px 1px black;
}

.section-title {
    color: var(--grey);
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
}

.section-subtitle {
    font-size: 20px;
    color: grey;
    text-align: left;
    margin: 20px 0;
    font-weight: bold;
}

.about-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-description {
    text-align: left;
    color: var(--grey);
    padding-right: 15px;
    line-height: 40px;
}

.about-description h2 {
    font-size: 20px;
    color: grey;
    text-align: left;
    margin: 20px 0;
    font-weight: bold;
}

.about-skills {
    max-width: 100%;
    gap: 10px;
}

.skills-title {
    font-size: 20px;
    color: grey;
    text-align: left;
    margin: 20px 0;
    font-weight: bold;
}

.skills-items-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.skill-item {
    max-width: 30%;
    font-size: 65px;
    color: var(--grey);
    padding: 25px;
    transition: all 0.3s;
    min-width: 130px;
    height: 180px;
    justify-self: center;
}

.skill-item img{
    width: 100%;
    height: auto;
}

.skills-description {
    font-size: 20px;
    text-align: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
}

.portfolio-item {
    background: white;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    font-size: 14px;
    border-radius: 10px;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 1s;
    border-radius: 10px;
    max-height: 190px;
}

.portfolio-description {
    padding: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 300px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolio-item:hover .portfolio-description {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    border-radius: 10px;
    transform: translateY(-300px);
}

.portfolio-item:hover .portfolio-img {
    transition: all 1s;
    border-radius: 10px;
    transform: scale(1.3);
}

.portfolio-description--title {
    color: var(--white);
  }
  
  .portfolio-description--text {
    margin: 20px 0;
  }

.buttons-container {
    display: flex;
    border-radius: 10px;
}

.button {
    background: #191919;
    color: #f5f5f5;
    padding: 5px 10px;
    display: inline-block;
    margin: auto;
}

.button:hover {
    color: var(--blue);
}

.cv-button {

    background: rgb(205, 151, 50);
    color: black;
    padding: 5px 30px;
    display: inline-block;
    align-self: center;
    margin: 20px auto;
    font: bold;
    border-radius: 5px;
}

.cv-button i {
    margin-right: 10px;
}

.cv-button:hover {
    background: rgb(11, 71, 7);
    color: white;
}

.button .fa-github:before {
    color: white;
}

.contact-grid {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact-item {
    color: var(--grey);
    padding: 40px;
    transition: all 0.3s;
}

.fa-envelope {
    color: red;
}

.fa-github {
    color: black;
}

.fa-linkedin-in {
    color: #0e76a8;
}

.fa-discord {
    color: #7289d9;
}

.contact-item i {
    font-size: 50px;
    margin-bottom: 10px;
}

.fa-envelope:hover {
    transition: all 0.3s;
    color: var(--grey);
}

.fa-github:hover {
    transition: all 0.3s;
    color: var(--grey);
}

.fa-twitter:hover {
    transition: all 0.3s;
    color: var(--grey);
}

.fa-linkedin-in:hover {
    transition: all 0.3s;
    color: var(--grey);
}

.fa-discord:hover {
    transition: all 0.3s;
    color: var(--grey);
}

.active a {
    color: #f5f5f5;
}

/* FALTAN LOS ESTILOS DEL FOOTER */

@media (min-width: 479px){
    body{
        font-family: 'Roboto', sans-serif;
        background-color: var(--Gris-claro);
    }

    .home-profile {
    height: 250px;
    border-radius: 50%;
    margin-top: 40px;
    transition: filter 3s;
    }

    .about-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    }

    .skills-items-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .portfolio-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 15px;
    }

    .contact-grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media (min-width: 1024px){
    body{
        font-family: 'Roboto', sans-serif;
        background-color: var(--Gris-claro);
    }

    #menuToggle{
        display: none;
    }

    #desktop-menu{
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        margin-right: 30px;
        gap: 15px;
        font-size: 18px;
    }

    #desktop-menu a:hover{
        color: green;
    }

    .about-description {
        text-align: left;
        color: var(--grey);
        padding-right: 80px;
        line-height: 40px;
    }

    .skills-items-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: inherit;
    }

    .portfolio-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 15px;
    }

    .contact-grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}