@import url('../App.css');

.hero-container {
    background-color: whitesmoke;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: fill;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    max-width: 60%;
    border-radius: 50%;    
    border: 2px solid #000;
}

.hero-buttons {
    background-color: var(--azul);
    padding: 4px;
    border-radius: 5px;
}
