.hero-container {
    background: url('../../public/images/background-001.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: fill;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -4rem 4rem 4rem 4rem;
}

.profile-pic {
    max-width: 60%;
    border-radius: 50%;
}