.hero-container {
    background: white;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
}

.hero-wrapper {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: 4rem;
    font-weight: 700;
}

.profile-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;    
    border: 2px solid #000;
}

@media screen and (max-width: 990px) {
    .hero-title {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .hero-wrapper {
        flex-direction: column;
        gap: 1.5rem;
    }

    .hero-wrapper .profile-pic {
        max-width: 60%;
    }
}
