.about-container {
    padding: 4rem 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}

.about-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.about-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 105px;
}

.about-divider .shape-fill {
    fill: blue;
}

@media screen and (max-width: 990px) {
    .about-divider svg {
        height: 50px;
    }
}

/* .curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
    left: 0;

}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: blue;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: black;
    transform: translate(-4%, 40%);
} */