.about-container {
    padding: 3rem 10rem 10rem 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    max-width: 100%;
}

.about-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.about-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 105px;
}

.about-divider .shape-fill {
    fill: #03254C;
}

@media screen and (max-width: 990px) {
    .about-divider svg {
        height: 50px;
    }

    .about-container {
        padding: 2rem 4rem;
    }
    
    .about-wrapper {
        padding-bottom: 4rem;
    }
}
