.portfolio-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-heading {
    text-align: center;
}

.portfolio-info {
    padding: 1rem 0 1rem 0;
}

.portfolio-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 990px) {
    .portfolio-heading {
        text-align: center;
        padding: 0rem 8rem;
    }

    .portfolio-container {
        overflow-x: hidden;
    }

    .portfolio-card-wrapper {
        padding: 0 4rem 2rem 4rem;
    }
}
