* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .water-button-name {
    width: 100%;
  }
  
  .water-button {
    position: relative;
    padding: 20px 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 315px;
    overflow: hidden;
    border-radius: 40px;
    text-align: center;
  }
  
  .water-button span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
  }
  
  .water-button .liquid {
    position: absolute;
    top: -195px;
    left: 0;
    width: 400px;
    height: 400px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgb(0 0 0 / 50%);
    transition: .5s;
  }
  
  .water-button .liquid::after,
  .water-button .liquid::before {
    content: '';
    width: 220%;
    height: 220%;
    position: absolute;
    top: 0;
    left: 35%;
    transform: translate(170%, 75%);
    background: #000;
  }
  
  .water-button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }
  
  .water-button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
  }
  
  .water-button:hover .liquid{
    top: -120px;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }